<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <a href="#" class="nav-link">
          <div class="profile-image">
            <img *ngIf="user" class="img-xs rounded-circle" src="{{user.photoUrl}}" height="45px" width="45px" alt="profile image">
            <div class="dot-indicator bg-success"></div>
          </div>
          <div class="text-wrapper">
            <p *ngIf="user" class="profile-name">{{user.name}}</p>
            <p class="designation">Admin</p>
          </div>
        </a>
      </li>
      <li class="nav-item nav-category">Main Menu</li>
      <li class="nav-item" [ngStyle]="{'cursor': 'pointer'}">
        <a (click)="db.setPage(true,false,false)" class="nav-link">
          <i class="menu-icon typcn typcn-document-text"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item" [ngStyle]="{'cursor': 'pointer'}">
        <a (click)="db.setPage(false,true,false)" class="nav-link">
          <i class="menu-icon typcn typcn-shopping-bag"></i>
          <span class="menu-title">Users</span>
        </a>
      </li>
      <li class="nav-item" [ngStyle]="{'cursor': 'pointer'}">
        <a (click)="db.setPage(false,false,true)" class="nav-link">
          <i class="menu-icon typcn typcn-shopping-bag"></i>
          <span class="menu-title">Data Usage</span>
        </a>
      </li>
    </ul>
</nav>
