
          <!-- partial -->
<br>
            <div class="content-wrapper">
              <!-- Page Title Header Starts-->
              <div class="row page-title-header">
                <div class="col-12">
                  <div class="page-header">
                    <h4 class="page-title">Dashboard</h4>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="page-header-toolbar">
                    <div class="btn-group toolbar-item" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-left"></i></button>
                      <button type="button" class="btn btn-secondary">03/02/2019 - 20/08/2019</button>
                      <button type="button" class="btn btn-secondary"><i class="mdi mdi-chevron-right"></i></button>
                    </div>
                    <div class="filter-wrapper">
                      <div class="dropdown toolbar-item">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownsorting" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Day</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownsorting">
                          <a class="dropdown-item" href="#">Last Day</a>
                          <a class="dropdown-item" href="#">Last Month</a>
                          <a class="dropdown-item" href="#">Last Year</a>
                        </div>
                      </div>
                      <a href="#" class="advanced-link toolbar-item">Advanced Options</a>
                    </div>
                    <div class="sort-wrapper">
                      <button type="button" class="btn btn-primary toolbar-item">New</button>
                      <div class="dropdown ml-lg-auto ml-3 toolbar-item">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownexport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownexport">
                          <a class="dropdown-item" href="#">Export as PDF</a>
                          <a class="dropdown-item" href="#">Export as DOCX</a>
                          <a class="dropdown-item" href="#">Export as CDR</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Page Title Header Ends-->
              <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3 col-md-6">
                          <div class="d-flex">
                            <div class="wrapper">
                              <h3 class="mb-0 font-weight-semibold">16,534</h3>
                              <h5 class="mb-0 font-weight-medium text-primary">Visits</h5>
                              <p class="mb-0 text-muted">+14.00(+0.50%)</p>
                            </div>
                            <div class="wrapper my-auto ml-auto ml-lg-4">
                              <img src="../../assets/graph-img/graph-1.png" alt="Visits">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                          <div class="d-flex">
                            <div class="wrapper">
                              <h3 class="mb-0 font-weight-semibold">20,000</h3>
                              <h5 class="mb-0 font-weight-medium text-primary">Users</h5>
                              <p class="mb-0 text-muted">+20(+0.54%)</p>
                            </div>
                            <div class="wrapper my-auto ml-auto ml-lg-4">
                              <img src="../../assets/graph-img/graph-2.png" alt="Users">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                          <div class="d-flex">
                            <div class="wrapper">
                              <h3 class="mb-0 font-weight-semibold">5,000</h3>
                              <h5 class="mb-0 font-weight-medium text-primary">Premium Subscriptions</h5>
                              <p class="mb-0 text-muted">+57.62(+0.76%)</p>
                            </div>
                            <div class="wrapper my-auto ml-auto ml-lg-4">
                              <img src="../../assets/graph-img/graph-3.png" alt="Premium Subscriptions">
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-md-0 mt-4">
                          <div class="d-flex">
                            <div class="wrapper">
                              <h3 class="mb-0 font-weight-semibold">$25,347</h3>
                              <h5 class="mb-0 font-weight-medium text-primary">Money Earned</h5>
                              <p class="mb-0 text-muted">+138.97(+0.54%)</p>
                            </div>
                            <div class="wrapper my-auto ml-auto ml-lg-4">
                              <img src="../../assets/graph-img/graph-4.png" alt="Money Earned">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-8 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-0">Sales Statistics Overview</h4>
                      <div class="d-flex flex-column flex-lg-row">
                        <br>
                        <ul class="nav nav-tabs sales-mini-tabs ml-lg-auto mb-4 mb-md-0" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="sales-statistics_switch_1" data-toggle="tab" role="tab" aria-selected="true">1D</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="sales-statistics_switch_2" data-toggle="tab" role="tab" aria-selected="false">5D</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="sales-statistics_switch_3" data-toggle="tab" role="tab" aria-selected="false">1M</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="sales-statistics_switch_4" data-toggle="tab" role="tab" aria-selected="false">1Y</a>
                          </li>
                        </ul>
                      </div>
                      <div class="d-flex flex-column flex-lg-row">
                        <div class="data-wrapper d-flex mt-2 mt-lg-0">
                          <div class="wrapper pr-5">
                            <h5 class="mb-0">Total Users</h5>
                            <div class="d-flex align-items-center">
                              <h4 class="font-weight-semibold mb-0">20,000</h4>
                              
                            </div>
                          </div>
                          <div class="wrapper">
                            <h5 class="mb-0">Total Revenue</h5>
                            <div class="d-flex align-items-center">
                              <h4 class="font-weight-semibold mb-0">$25,347</h4>
                              
                            </div>
                          </div>
                        </div>
                        <div class="ml-lg-auto" id="sales-statistics-legend"></div>
                      </div>
                      <br>
                      <div id="sales-overview-chart" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body d-flex flex-column">
                      <div class="wrapper">
                        <h4 class="card-title mb-0">Net Profit Margin</h4>
                        <p>Started collecting data from december 2019</p>
                        <div class="mb-4" id="net-profit-legend"></div>
                      </div>
                      <br>
                      <div id="net-profit-chart" style="height: 370px; width: 100%;"></div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body pb-0">
                          <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-0">Hardware Expenditure</h4>
                            <p class="font-weight-semibold mb-0">+1.37%</p>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <h3 class="font-weight-medium mb-4">$546</h3>

                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-6 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body pb-0">
                          <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-0">Transactions</h4>
                            <p class="font-weight-semibold mb-0">-2.87%</p>
                          </div>
                          <div class="progress">
                            <div class="progress-bar bg-primary" role="progressbar" style="width: 35%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                          <h3 class="font-weight-medium">253</h3>
                          
                        </div>
                        
                      </div>
                      <br>
                    </div>
                    <div class="col-md-12 grid-margin">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title mb-0">User Overview</h4>
                          <div class="d-flex align-items-center justify-content-between w-100">
                            <p class="mb-0">Real Time user subscription overview</p>
                            <div class="dropdown">
                              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dateSorter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">This Month</button>
                              <div class="dropdown-menu" aria-labelledby="dateSorter">
                                <div class="dropdown-item" id="market-overview_1">Daily</div>
                                <div class="dropdown-item" id="market-overview_2">Weekly</div>
                                <div class="dropdown-item" id="market-overview_3">Monthly</div>
                              </div>
                            </div>
                          </div>
                          <br>
                          <div id="market-overview-chart" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-0">Recent Events</h4>
                      <div class="d-flex py-2 border-bottom">
                        <div class="wrapper">
                          <small class="text-muted">Dec 07, 2019</small>
                          <p class="font-weight-semibold text-gray mb-0">App Maintenance</p>
                        </div>
                        <small class="text-muted ml-auto">Edit event</small>
                      </div>
                      <div class="d-flex py-2 border-bottom">
                        <div class="wrapper">
                          <small class="text-muted">Oct 31, 2019</small>
                          <p class="font-weight-semibold text-gray mb-0">Halloween Office Party</p>
                        </div>
                        <small class="text-muted ml-auto">Edit event</small>
                      </div>
                      <div class="d-flex py-2 border-bottom">
                        <div class="wrapper">
                          <small class="text-muted">August 14, 2019</small>
                          <p class="font-weight-semibold text-gray mb-0">Web Page programmer integration</p>
                        </div>
                        <small class="text-muted ml-auto">Edit event</small>
                      </div>
                      <div class="d-flex pt-2">
                        <div class="wrapper">
                          <small class="text-muted">August 10, 2019</small>
                          <p class="font-weight-semibold text-gray mb-0">Web Page recruitment</p>
                        </div>
                        <small class="text-muted ml-auto">Edit event</small>
                      </div>
                      <a class="d-block mt-5" href="#">Show all</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

